---
layout: base.liquid
permalink: /
eleventyNavigation:
  key: Name
  order: 1
title: Duckfeed Slack Emoji Museum
description: All 1,628 of 'em.
---


<div class="grid">
  {%- for item in emoji %}
    {% include 'card' %}
  {% endfor -%}
</div>
