---
layout: default.njk
permalink: /
title: Duckfeed Slack Emoji Museum
description: All 1,628 of 'em.
image: /images/t2thumb.gif

---

<main>
  <h1>Duckfeed Slack Emoji Museum</h1>

  <div class="grid">
    {%- for item in emoji %}
      {% if not item.is_alias %}
        <figure class="text-center" id="{{ item.name|slugify }}">
          <div class="image"><img src="/images/{{ item.file }}" /></div>
          <figcaption>
            <p class="h5">
              <a href="#{{ item.name|slugify }}">
                <strong>
                {%- if item.synonyms | length > 0 %}
                  {{ item.synonyms|join(" / ") }}
                {% else %}
                  {{ item.name }}
                {% endif -%}
                </strong>
              </a>
            </p>
            <cite><small>uploaded by<br>{{ item.user_display_name }}</small></cite>
          </figcaption>
        </figure>
      {% endif %}
    {% endfor -%}
  </div>
</main>

<footer>
  <a href="https://github.com/cbirdsong/duckfeed-emoji-museum">View Source Code / Images</a>
</footer>
