---
layout: default.njk
permalink: /
title: Duckfeed Emoji Museum
---

<main>
  <h1>Duckfeed Emoji Museum</h1>

  <div class="grid">
    {%- for item in emoji %}
      {% if not item.is_alias %}
        <figure class="text-center" id="{{ item.name|slugify }}">
          <div class="image"><img src="{{ item.url }}" /></div>
          <figcaption>
            <p class="h5">
              <a href="#{{ item.name|slugify }}">
                <strong>
                {%- if item.synonyms | length > 0 %}
                  {{ item.synonyms|join(" / ") }}
                {% else %}
                  {{ item.name }}
                {% endif -%}
                </strong>
              </a>
            </p>
            <cite><small>uploaded by<br>{{ item.user_display_name }}</small></cite>
          </figcaption>
        </figure>
      {% endif %}
    {% endfor -%}
  </div>
</main>
